.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1400px;
  font-family: "Roboto", sans-serif;
}

.datatable-search {
  display: flex;
}
/*.datatable-sort select {
  height: 2rem;
  width: 4rem;
  margin: 0 1rem;
}*/